{% macro backButton(title='Back Home', target='/') %}
  <div class="w-full lg:w-4/5 lg:ml-auto text-base md:text-sm text-gray-500 px-4 py-6">
    <span class="text-base text-purple-500 font-bold">&lt;</span>
    <a href="{{ target }}"
       class="text-base md:text-sm text-purple-500 font-bold no-underline hover:underline">{{ title }}</a>
  </div>
{% endmacro %}
